<?xml version="1.0"?>
<model>
  <name>fetchit_arena</name>
  <version>0.1.0</version>
  <author>
   <name>Miguel Angel Rodriguez</name>
   <email>duckfrost@theconstructsim.com</email>
  </author>
  <sdf version='1.4'>model.sdf</sdf>
  <description>
    Arena model for the 2019 Fetchit Challenge in ArtPublicMontreal
  </description>
</model>
