<?xml version="1.0"?>

<model>
  <name>Hammer Pein</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

 
  <author>
    <name>Markus Solbach
    Amir Rasouli</name>
    
    <email>solbach@cse.yorku.ca
   aras@cse.yorku.ca</email>
  </author>

  <description>
    A Model of a Hammer.
  </description>
</model>
