<?xml version="1.0" ?>
<model>
    <name>cpr_inspection</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Chao Yao</name>
        <email>leonhartyao@gmail.com</email>
    </author>
    <description>outdoor with solar panels, bridge pipeline and mine tunnel</description>
</model>
