<?xml version="1.0"?>
<model>
  <name>50mmbin</name>
  <version>0.1.0</version>
  <author>
   <name>Miguel Angel Rodriguez</name>
   <email>duckfrost@theconstructsim.com</email>
  </author>
  <sdf version='1.4'>model.sdf</sdf>
  <description>
    50mm bin extracted from ThingiVerse: https://www.thingiverse.com/thing:14258,
    Created by user: Mathew Laberge https://www.thingiverse.com/matthewlaberge/about
  </description>
</model>
