<?xml version="1.0"?>

<model>
  <name>Pole</name>
  <version>1.0</version>
 <!--sdf version="1.5">model_static.sdf</sdf-->
  <sdf version="1.5">model.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.3">model-1_3.sdf</sdf>

  <author>
    <name>Amir Rasouli</name>
    
    <email>aras@cse.yorku.ca</email>
  </author>

  <description>
    A pole to hold camera and PTU.
  </description>
</model>
