<?xml version="1.0"?>
<model>
  <name>fetchit_warehouse</name>
  <version>0.1.0</version>
  <author>
   <name>Miguel Angel Rodriguez</name>
   <email>duckfrost@theconstructsim.com</email>
  </author>
  <sdf version='1.4'>model.sdf</sdf>
  <description>
    Warehouse xetracted from BlenderSwap: https://www.blendswap.com/blends/view/87523
    made by Argonius: https://www.blendswap.com/user/argonius
  </description>
</model>
