<?xml version="1.0"?>
<model>
  <name>gearbox_largegear_grey</name>
  <version>0.1.0</version>
  <author>
   <name>Miguel Angel Rodriguez</name>
   <email>duckfrost@theconstructsim.com</email>
  </author>
  <sdf version='1.4'>model.sdf</sdf>
  <description>
    Large-Gear Grey from Gearbox assembly, downloaded from Thingiverse
    https://www.thingiverse.com/thing:180205, author CharlieTCU https://www.thingiverse.com/CharlieTCU/about .
    License: https://creativecommons.org/licenses/by-sa/3.0/
  </description>
</model>
