<?xml version="1.0"?>
<model>
  <name>ycb_030_fork</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <author>
    <name></name>
    <email></email>
  </author>

  <description>
    This model has been converted from Yale-CMU-Berkeley(YCB) Object and Model set. Distributed under Creative Commons Attribution 4.0 International (CC BY 4.0) license.
  </description>
</model>
