<?xml version="1.0" ?>
<model>
    <name>Wall_Cabinet_24x15M</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
  <author>
       <name>Amir Rasouli</name>
       <email>aras@cse.yorku.ca</email>
    </author>
    <description> A Wall Cabinet model 24x15 in</description>
</model>
