<?xml version="1.0" ?>
<model>
    <name>cpr_office_construction</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Chao Yao</name>
        <email>leonhartyao@gmail.com</email>
    </author>
    <description>office under construction from clearpath robotics</description>
</model>
