<?xml version="1.0"?>
<model>
  <name>caddy_pink</name>
  <version>0.1.0</version>
  <author>
   <name>Miguel Angel Rodriguez</name>
   <email>duckfrost@theconstructsim.com</email>
  </author>
  <sdf version='1.4'>model.sdf</sdf>
  <description>
    Tool tray where all the assembly elements will be placed and transported in.
  </description>
</model>