<?xml version="1.0"?>

<model>
  <name>Zed_dummy</name>
  <version>1.0</version>
 <!--sdf version="1.5">model_static.sdf</sdf-->
  <sdf version="1.5">model.sdf</sdf>

 
  <author>
    <name>Markus Solbach</name>
    
    <email>solbach@cse.yorku.ca</email>
  </author>

  <description>
    A Model of Zed stereo camera (only dummy).
  </description>
</model>
