<?xml version="1.0"?>
<model>
  <name>Dronerace jungle gate 2018</name>
  <version>1.0</version>
  <sdf version='1.6'>dronerace_junglegate.sdf</sdf>

  <author>
   <name>Jiahao Lin</name>
   <email>@</email>
  </author>

  <description>
    Dronerace gate for the TU Delft Cyberzoo
  </description>
</model>
